<a href="https://colab.research.google.com/github/AbdullahTheAnalyst/Data-Science-and-AI-mohir_dev-/blob/NumPy-and-Pandas/Dataset_statistikasi_min%2C_max%2C_o%CA%BBrta_qiymat_va_summa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv', index_col=0)
df.columns = ['maydoni','aholisi']
df

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [3]:
# dfning umumiy summasini topdik
df.sum()

maydoni      441900.0
aholisi    22945800.0
dtype: float64

In [4]:
df2 = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/gm_sales.csv", index_col=0)
df2

         2020   2021
Labo     4521   7542
Damas   30889  33682
Spark   16370   6485
Nexia   41663  14442
Cobalt  44901  36317
Gentra  30368  26266

In [5]:
# variable bo'yicha summasini topdik
df2.sum(axis = "columns")

Labo      12063
Damas     64571
Spark     22855
Nexia     56105
Cobalt    81218
Gentra    56634
dtype: int64

In [6]:
# Rows bo'yicha summasini topdik
df2.sum(axis = "rows")

2020    168712
2021    124734
dtype: int64

In [7]:
# o'rta arifmetigi
df2.mean()

2020    28118.666667
2021    20789.000000
dtype: float64

In [8]:
# o'rta arifmetigi columnni
df2.mean(axis = "columns")

Labo       6031.5
Damas     32285.5
Spark     11427.5
Nexia     28052.5
Cobalt    40609.0
Gentra    28317.0
dtype: float64

In [9]:
# o'rta arifmetigi rowsni
df2.mean(axis = "rows")

2020    28118.666667
2021    20789.000000
dtype: float64

In [10]:
df.mean()

maydoni    3.399231e+04
aholisi    1.765062e+06
dtype: float64

In [12]:
# index bilan minimum qiymatlarini olamiz
df.idxmin()

maydoni     Andijon viloyati
aholisi    Sirdaryo viloyati
dtype: object

In [13]:
# index bilan maximum qiymatlarini olamiz
df.idxmax()

maydoni    Qoraqalpogʻiston Respublikasi
aholisi                Toshkent viloyati
dtype: object

In [15]:
# index bilan maximum qiymatlarini olamiz, faqat biz kiritgan index bo'yicha
df["aholisi"].idxmax()

'Toshkent viloyati'

In [16]:
# index bilan maximum qiymatlarini olamiz, faqat biz kiritgan index bo'yicha
df["maydoni"].idxmin()

'Andijon viloyati'