<a href="https://colab.research.google.com/github/AbdullahTheAnalyst/Data-Science-and-AI-mohir_dev-/blob/NumPy-and-Pandas/Ma'lumotlarga_ishlov_berish_Ma'lumotlarni_tayyorlash_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/automobile_data_nan.csv",
                 index_col = 0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,NaN,21.0,13495.0
1,alfa-romero,convertible,NaN,168.8,dohc,four,111.0,21.0,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154.0,NaN,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102.0,24.0,13950.0
4,audi,sedan,99.4,176.6,ohc,five,NaN,NaN,17450.0

In [6]:
df.isnull().sum()

company              0
body-style           0
wheel-base          15
length              13
engine-type         12
num-of-cylinders     0
horsepower          16
average-mileage     15
price                3
dtype: int64

In [7]:
# ustundagi mavjud takrorlanmaydigan elementlarni ko'rish uchun
df["num-of-cylinders"].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [8]:
df["company"].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mitsubishi',
       'nissan', 'porsche', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [10]:
# biz tanlagan ustun bo'yicha ishlash metodlari
# .map() -> metodining asosiy qiladigan ishi, biz hohlagan columndagi ma'lumotlarni biz hohlagandek ishlov berish uchun kerak bo'ladi
dict = {'four' : 4, 'six' : 6, 'five' : 5, 'three' : 3, 'twelve' : 12, 'two' : 2, 'eight' : 8}
# dict ichida ma'lumotlarni o'zgartirib qo'yib yangi coumnga joylashtirdik
df["cylinders"] = df["num-of-cylinders"].map(dict)
df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,cylinders
index,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,NaN,21.0,13495.0,4
1,alfa-romero,convertible,NaN,168.8,dohc,four,111.0,21.0,16500.0,4
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154.0,NaN,16500.0,6
3,audi,sedan,99.8,176.6,ohc,four,102.0,24.0,13950.0,4
4,audi,sedan,99.4,176.6,ohc,five,NaN,NaN,17450.0,5
...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85.0,27.0,7975.0,4
82,volkswagen,sedan,NaN,171.7,NaN,four,52.0,37.0,7995.0,4
86,volkswagen,sedan,97.3,NaN,ohc,four,100.0,NaN,9995.0,4
87,volvo,sedan,104.3,188.8,NaN,four,114.0,23.0,12940.0,4
88,volvo,wagon,104.3,188.8,ohc,four,NaN,23.0,13415.0,4

In [12]:
# biz kursni so'mda chiqarishimiz kerak
kurs = 12800
df["price"].map(lambda x: x*kurs)

index
0     172736000.0
1     211200000.0
2     211200000.0
3     178560000.0
4     223360000.0
         ...
81    102080000.0
82    102336000.0
86    127936000.0
87    165632000.0
88    171712000.0
Name: price, Length: 61, dtype: float64

In [14]:
# yangi column ochib price_uz degan bajardik
kurs = 12800
df["price_uz"] = df["price"].map(lambda x: x*kurs)
df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,cylinders,price_uz
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,NaN,21.0,13495.0,4,172736000.0
1,alfa-romero,convertible,NaN,168.8,dohc,four,111.0,21.0,16500.0,4,211200000.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154.0,NaN,16500.0,6,211200000.0
3,audi,sedan,99.8,176.6,ohc,four,102.0,24.0,13950.0,4,178560000.0
4,audi,sedan,99.4,176.6,ohc,five,NaN,NaN,17450.0,5,223360000.0
...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85.0,27.0,7975.0,4,102080000.0
82,volkswagen,sedan,NaN,171.7,NaN,four,52.0,37.0,7995.0,4,102336000.0
86,volkswagen,sedan,97.3,NaN,ohc,four,100.0,NaN,9995.0,4,127936000.0
87,volvo,sedan,104.3,188.8,NaN,four,114.0,23.0,12940.0,4,165632000.0
88,volvo,wagon,104.3,188.8,ohc,four,NaN,23.0,13415.0,4,171712000.0

In [15]:
# df ichidagi biz hohlagan datani biz hohlagan dataga o'zgartirishimiz mumkin
df.replace("four", 4)

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,cylinders,price_uz
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,4,NaN,21.0,13495.0,4,172736000.0
1,alfa-romero,convertible,NaN,168.8,dohc,4,111.0,21.0,16500.0,4,211200000.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154.0,NaN,16500.0,6,211200000.0
3,audi,sedan,99.8,176.6,ohc,4,102.0,24.0,13950.0,4,178560000.0
4,audi,sedan,99.4,176.6,ohc,five,NaN,NaN,17450.0,5,223360000.0
...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,4,85.0,27.0,7975.0,4,102080000.0
82,volkswagen,sedan,NaN,171.7,NaN,4,52.0,37.0,7995.0,4,102336000.0
86,volkswagen,sedan,97.3,NaN,ohc,4,100.0,NaN,9995.0,4,127936000.0
87,volvo,sedan,104.3,188.8,NaN,4,114.0,23.0,12940.0,4,165632000.0
88,volvo,wagon,104.3,188.8,ohc,4,NaN,23.0,13415.0,4,171712000.0

In [16]:
df.replace("sedan", "pedan")

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,cylinders,price_uz
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,NaN,21.0,13495.0,4,172736000.0
1,alfa-romero,convertible,NaN,168.8,dohc,four,111.0,21.0,16500.0,4,211200000.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154.0,NaN,16500.0,6,211200000.0
3,audi,pedan,99.8,176.6,ohc,four,102.0,24.0,13950.0,4,178560000.0
4,audi,pedan,99.4,176.6,ohc,five,NaN,NaN,17450.0,5,223360000.0
...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,pedan,97.3,171.7,ohc,four,85.0,27.0,7975.0,4,102080000.0
82,volkswagen,pedan,NaN,171.7,NaN,four,52.0,37.0,7995.0,4,102336000.0
86,volkswagen,pedan,97.3,NaN,ohc,four,100.0,NaN,9995.0,4,127936000.0
87,volvo,pedan,104.3,188.8,NaN,four,114.0,23.0,12940.0,4,165632000.0
88,volvo,wagon,104.3,188.8,ohc,four,NaN,23.0,13415.0,4,171712000.0

In [19]:
df2 = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/world_population_duplicates.csv",
                 index_col = "country")
df2.head()

         rank     density   densityMi    pop2021   area
country
Macau       1  21946.4667  56841.3487    658.394     30
Monaco      2  19755.5000  51166.7450     39.511      2
Burundi    28    440.3044   1140.3884  12255.433  27834
Macau       1  21946.4667  56841.3487    658.394     30
Monaco      2  19755.5000  51166.7450     39.511      2

In [26]:
# biz indexning datalarini o'zgartirib yozishimiz mumkin
df2.rename(index = str.upper, columns = str.upper)

                  RANK     DENSITY   DENSITYMI    POP2021     AREA
country
MACAU                1  21946.4667  56841.3487    658.394       30
MONACO               2  19755.5000  51166.7450     39.511        2
BURUNDI             28    440.3044   1140.3884  12255.433    27834
MACAU                1  21946.4667  56841.3487    658.394       30
MONACO               2  19755.5000  51166.7450     39.511        2
...                ...         ...         ...        ...      ...
NAMIBIA            228      3.1338      8.1166   2587.344   825615
WESTERN SAHARA     229      2.3003      5.9577    611.875   266000
MONGOLIA           230      2.1286      5.5129   3329.289  1564110
FALKLAND ISLANDS   231      0.2902      0.7517      3.533    12173
GREENLAND          232      0.0263      0.0680     56.877  2166086

[247 rows x 5 columns]

In [28]:
# biz nomini ham o'zgartirishimiz mumkin bo'ladi
df2.rename(columns = {"pop2021" : "Populations"}, inplace  = True)
df2

                  rank     density   densityMi  Populations     area
country
Macau                1  21946.4667  56841.3487      658.394       30
Monaco               2  19755.5000  51166.7450       39.511        2
Burundi             28    440.3044   1140.3884    12255.433    27834
Macau                1  21946.4667  56841.3487      658.394       30
Monaco               2  19755.5000  51166.7450       39.511        2
...                ...         ...         ...          ...      ...
Namibia            228      3.1338      8.1166     2587.344   825615
Western Sahara     229      2.3003      5.9577      611.875   266000
Mongolia           230      2.1286      5.5129     3329.289  1564110
Falkland Islands   231      0.2902      0.7517        3.533    12173
Greenland          232      0.0263      0.0680       56.877  2166086

[247 rows x 5 columns]

In [29]:
df.rename(index = {"Uzbekistan" : "O'zbekiston"})

                  rank     density   densityMi    pop2021     area
country
Macau                1  21946.4667  56841.3487    658.394       30
Monaco               2  19755.5000  51166.7450     39.511        2
Burundi             28    440.3044   1140.3884  12255.433    27834
Macau                1  21946.4667  56841.3487    658.394       30
Monaco               2  19755.5000  51166.7450     39.511        2
...                ...         ...         ...        ...      ...
Namibia            228      3.1338      8.1166   2587.344   825615
Western Sahara     229      2.3003      5.9577    611.875   266000
Mongolia           230      2.1286      5.5129   3329.289  1564110
Falkland Islands   231      0.2902      0.7517      3.533    12173
Greenland          232      0.0263      0.0680     56.877  2166086

[247 rows x 5 columns]

**GURUHLASH**

In [31]:
# biz df ni tahlil qilishimiz uchun guruhlash juda muhim
df2, usecols = ["country", "pop2021", "area"], index_col = "country"

ValueError: not enough values to unpack (expected 2, got 0)

In [32]:
df3 = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/world_population.csv",
                 usecols = ["country", "pop2021", "area"], index_col = "country")
df3.head()

            pop2021  area
country
Macau       658.394    30
Monaco       39.511     2
Singapore  5896.686   710
Hong Kong  7552.810  1104
Gibraltar    33.698     6

In [34]:
df3.loc["Uzbekistan"]

pop2021     33935.763
area       447400.000
Name: Uzbekistan, dtype: float64

In [37]:
df3.loc["India"]

pop2021    1393409.038
area       3287590.000
Name: India, dtype: float64

Guruhlash uchun biz aholi sonini guruhlarga bo'lib chiqaylik:

*   1 mlngacha (0-1000)
*   1-10 mlngacha (1000-10000)

*   10-30 mlngacha (10000-30000)

*   30-50 mlngacha (30000-50000)
*   50-100 mlngacha (50000-100000)


*   100-300 mlngacha (100000-300000)


*   300 mln-1.5 mlrdngacha (300000-1500000)

In [38]:
# shu oralig'da mavjud bo'lgan o'zgaruvchi yaratib olamiz
number_pop = [0, 1000, 10000, 30000, 50000, 100000, 300000, 1500000]

In [39]:
population = df.pop2021
population

country
Macau                 658.394
Monaco                 39.511
Burundi             12255.433
Macau                 658.394
Monaco                 39.511
                      ...
Namibia              2587.344
Western Sahara        611.875
Mongolia             3329.289
Falkland Islands        3.533
Greenland              56.877
Name: pop2021, Length: 247, dtype: float64

In [41]:
# manashu datani guruhlarga ajratish uchun
guruh = pd.cut(population, number_pop)
guruh

country
Macau                    (0, 1000]
Monaco                   (0, 1000]
Burundi             (10000, 30000]
Macau                    (0, 1000]
Monaco                   (0, 1000]
                         ...
Namibia              (1000, 10000]
Western Sahara           (0, 1000]
Mongolia             (1000, 10000]
Falkland Islands         (0, 1000]
Greenland                (0, 1000]
Name: pop2021, Length: 247, dtype: category
Categories (7, interval[int64, right]): [(0, 1000] < (1000, 10000] < (10000, 30000] <
                                         (30000, 50000] < (50000, 100000] < (100000, 300000] <
                                         (300000, 1500000]]

In [42]:
guruh.value_counts()

pop2021
(0, 1000]            80
(1000, 10000]        73
(10000, 30000]       46
(30000, 50000]       19
(50000, 100000]      15
(100000, 300000]     11
(300000, 1500000]     3
Name: count, dtype: int64

In [46]:
# o'zimizning df ga alohida data qo'shish uchun
df["guruh"] = guruh
df

,rank,density,densityMi,pop2021,area,guruh
country,,,,,,
Macau,1,21946.4667,56841.3487,658.394,30,"(0, 1000]"
Monaco,2,19755.5000,51166.7450,39.511,2,"(0, 1000]"
Burundi,28,440.3044,1140.3884,12255.433,27834,"(10000, 30000]"
Macau,1,21946.4667,56841.3487,658.394,30,"(0, 1000]"
Monaco,2,19755.5000,51166.7450,39.511,2,"(0, 1000]"
...,...,...,...,...,...,...
Namibia,228,3.1338,8.1166,2587.344,825615,"(1000, 10000]"
Western Sahara,229,2.3003,5.9577,611.875,266000,"(0, 1000]"
Mongolia,230,2.1286,5.5129,3329.289,1564110,"(1000, 10000]"
Falkland Islands,231,0.2902,0.7517,3.533,12173,"(0, 1000]"
Greenland,232,0.0263,0.0680,56.877,2166086,"(0, 1000]"

In [49]:
df5 = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/automobile_data.csv",
                  index_col = 0)
df5.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [51]:
df5.price.describe()

count       58.000000
mean     15387.000000
std      11320.259841
min       5151.000000
25%       6808.500000
50%      11095.000000
75%      18120.500000
max      45400.000000
Name: price, dtype: float64

In [52]:
bins = [0, 10000, 20000, 50000]

In [53]:
range = pd.cut(df5.price, bins)
range

index
0     (10000, 20000]
1     (10000, 20000]
2     (10000, 20000]
3     (10000, 20000]
4     (10000, 20000]
           ...
81        (0, 10000]
82        (0, 10000]
86        (0, 10000]
87    (10000, 20000]
88    (10000, 20000]
Name: price, Length: 61, dtype: category
Categories (3, interval[int64, right]): [(0, 10000] < (10000, 20000] < (20000, 50000]]

In [54]:
range.value_counts()

price
(0, 10000]        28
(10000, 20000]    17
(20000, 50000]    13
Name: count, dtype: int64

In [59]:
# biz umumiy ma'lumotlarni olishimiz uchun oraliq qiymatlarni nomlar olishimiz mumkin
names = ["arzon cars", "o'rta cars", "qimmat cars"]
range = pd.cut(df5.price, bins, labels = names)
range.value_counts()

price
arzon cars     28
o'rta cars     17
qimmat cars    13
Name: count, dtype: int64

In [61]:
# hozir bu range qilishimizni qo'lda bajardik, endi buni qo'lda emas, avtomatik qilishimiz mumkin
range = pd.cut(df5.price, 6)
range

index
0     (11859.167, 18567.333]
1     (11859.167, 18567.333]
2     (11859.167, 18567.333]
3     (11859.167, 18567.333]
4     (11859.167, 18567.333]
               ...
81     (5110.751, 11859.167]
82     (5110.751, 11859.167]
86     (5110.751, 11859.167]
87    (11859.167, 18567.333]
88    (11859.167, 18567.333]
Name: price, Length: 61, dtype: category
Categories (6, interval[float64, right]): [(5110.751, 11859.167] < (11859.167, 18567.333] <
                                           (18567.333, 25275.5] < (25275.5, 31983.667] <
                                           (31983.667, 38691.833] < (38691.833, 45400.0]]

In [62]:
range = pd.cut(df5.price, 6)
range.value_counts()

price
(5110.751, 11859.167]     30
(11859.167, 18567.333]    14
(31983.667, 38691.833]     6
(25275.5, 31983.667]       3
(38691.833, 45400.0]       3
(18567.333, 25275.5]       2
Name: count, dtype: int64

In [64]:
range = pd.cut(df5.horsepower, 4)
range.value_counts()

horsepower
(47.76, 108.0]    37
(108.0, 168.0]    13
(168.0, 228.0]     9
(228.0, 288.0]     2
Name: count, dtype: int64

In [68]:
# tepacagi .cut() metodi orqali range qiymatlari oralig'i juda beo'xshov edi
# lekin .qcut() orqali bir- biriga yaqin qiymat chiqaradigan oraliqdagini bajaradi
range = pd.qcut(df5.price, 3)
range.value_counts()

price
(16430.0, 45400.0]    20
(5150.999, 7295.0]    19
(7295.0, 16430.0]     19
Name: count, dtype: int64

In [69]:
range = pd.qcut(df5.horsepower, 4)
range.value_counts()

horsepower
(47.999, 68.0]    17
(68.0, 100.0]     15
(100.0, 123.0]    15
(123.0, 288.0]    14
Name: count, dtype: int64